body {
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/34/59/science-seamless-pattern-in-flat-design-style-vector-2033459.jpg");
}

.main-home-bur{
    text-align: center;
    width: auto;
    height: 7em;
    border-radius: 15px;
    background-color:  rgb(216, 203, 161);
    margin-bottom: 40px;
}

.main-home-bur h1 {
    padding-top: 40px;
}

.main-card-lesson {
    margin: 0;
    padding: 1000;
    display: flex;
    padding-left: 100px; 
    padding-right: 600px; 
    justify-content: space-evenly;
    padding-left: 50px;

}

.main-card-lesson div{
    position: relative;
    margin-left: 1000;
    margin-right: 0;
    color: white;
    display: inline-block;
    border: 3px solid black;
    width: 5em;
    height: 30em;
}

.main-card-lesson h3{
    margin-top: 10em;
    transform: rotate(-90deg);
    font-size: 24px;
}

.card-lesson :hover{
    background-color: green;
    width: 100px;
    border-radius: 18px 0px 0px 18px;
}

.card-math {
    margin-left: 0px;
    background-color: red;
    border-radius: 18px 0px 0px 18px;
    width: 100px;
    height: 500px;
}
.card-lesson :hover {
    background-color: green;
    width: 100px;
}

.card-architecture {
    background-color: orange;
    width: 100px;
    height: 500px;
}

.card-physics {
    background-color: rgba(168, 46, 178, 1);
    height: 500px;
}

.card-informatics {
    background-color: rgba(21, 1, 246, 1);
    width: 100px;
    height: 500px;
}

.card-biology {
    background-color: rgba(20, 128, 2, 1);
    width: 100px;
    height: 500px;
}

.card-geography {
    background-color: rgba(9, 128, 144, 1);
    width: 100px;
    height: 500px;
}

.card-medicine {
    background-color: rgba(216, 200, 53, 1);
    width: 100px;
    height: 500px;
}

.card-chemistry {
    background-color: rgba(4, 191, 68, 1);
    width: 100px;
    height: 500px;
}

.card-social {
    background-color: rgba(89, 14, 164, 1);
    width: 100px;
    height: 500px;
}
.div {
    width: 287px;
    height: 101px;  
}
.Rectangle-35 {
    width: 293px;
    height: 60px;
    font-size: 28px;
    background-color: rgba(58, 55, 55, 0.3);
  }
  
.Rectangle-36 {
    width: 494px;
    height: 60px;
    font-size: 28px;
    background-color: rgba(58, 55, 55, 0.3);
}
.Rectangle-34 {
    width: 482px;
    height: 60px;
    background-color: rgba(58, 55, 55, 0.3);
    font-size: 28px;
}
.rules-page {
    width: 482px;
    height: 60px;
    background-color: rgba(58, 55, 55, 0.3);
    font-size: 28px;
}
.main-buttons {
    display: flex; 
    margin-bottom: 0px;
}
.Rectangle-30 {
    width: 418px;
    height: 60px;
    font-size: 28px;
    background-color: rgba(58, 55, 55, 0.3);
}
.card-lesson {
    border-radius: 50px;
    width: 10px;
}
.card-foreign {
    background-color: red;
    width: 100px;
    height: 500px;
}
.card-literature {
    background-color: orange;
    width: 100px;
    height: 500px;
}

.contains {
    width: 2282px;
    height: 569px;
    margin: 77px 0 0;
    padding: 31px 77px 0 79px;
    background-color: #15095c;
}

.contains h2 {
  width: 454px;
  height: 101px;
  margin: 29px 0 311px 459px;
  padding: 71px 157px 29px 0;
  font-family: sans-serif;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 1400px;
  color: #fff;
}

.contains h3 {
  width: 345px;
  height: 335px;
  margin: 101px 104px 5px 464px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 1400px;
  margin-top: -300px
}
.Rectangle-19 {
  width: 1158px;
  height: 411px;
  margin: 0 514px 30px 0;
  padding: 41px 69px 28px 36px;
  border-radius: 20px;
  background-color: #2e2b2b;
  margin-top: -550px;
}
.Rectangle-19 h1 {
  color: white;
  font-style: normal;
  font-size: 64px;
}
.Rectangle-19 .cooperation {
  width: 314px;
  height: 54px;
  margin: 15px 346px 15px 0;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Rectangle-19 .news {
  width: 314px;
  height: 54px;
  margin: 15px 346px 0 0;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff
}
.Rectangle-19 .networks {
 color: white;
  margin-left: 800px;
  margin-top: -250px;
}
