h1 {
    font-style: italic;
    font-family: sans-serif;
    font-size: 39px;
}

p {
    font-size: 28px;
    font-family: sans-serif;
}

ul {
    font-family: sans-serif;
    margin-left: -40px;
    font-size: 28px;
}

li {
    font-size: 28px;
    font-family: sans-serif;
}

img {
    width: 1000px;
    height: 605px;
    margin: 6px 14px 188px 0;
    float: right;
}

.contains {
    width: 1680px;
    height: 569px;
    margin: 77px 0 0;
    padding: 31px 77px 0 79px;
    background-color: rgb(216, 203, 161);
}

.contains h2 {
  width: 454px;
  height: 101px;
  margin: 29px 0 311px 459px;
  padding: 71px 157px 29px 0;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 1400px;
  color: #2e2b2b;
}

.contains h3 {
  width: 345px;
  height: 335px;
  margin: 101px 104px 5px 464px;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2b2b;
  margin-left: 1400px;
  margin-top: -300px
}
.Rectangle-19 {
  width: 1158px;
  height: 411px;
  margin: 0 514px 30px 0;
  padding: 41px 69px 28px 36px;
  border-radius: 20px;
  background-color: #2e2b2b;
  margin-top: -550px;
}
.Rectangle-19 h1 {
  color: rgb(216, 203, 161);
  font-style: normal;
  font-size: 64px;
}
.Rectangle-19 .cooperation {
  width: 314px;
  height: 54px;
  margin: 15px 346px 15px 0;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgb(216, 203, 161);
}
.Rectangle-19 .news {
  width: 314px;
  height: 54px;
  margin: 15px 346px 0 0;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgb(216, 203, 161)
}
.Rectangle-19 .networks {
 color: rgb(216, 203, 161);
  margin-left: 800px;
  margin-top: -250px;
}
.Rectangle-35 {
    width: 293px;
    height: 60px;
    font-size: 28px;
    background-color: rgba(58, 55, 55, 0.3);
  }
  
.Rectangle-36 {
    width: 450px;
    height: 60px;
    font-size: 28px;
    background-color: rgba(58, 55, 55, 0.3);
}
.Rectangle-34 {
    width: 450px;
    height: 60px;
    background-color: rgba(58, 55, 55, 0.3);
    font-size: 28px;
}
.rules-page {
    width: 450px; 
    height: 60px;
    background-color: rgba(58, 55, 55, 0.3);
    font-size: 28px;
}
.main-buttons {
    display: flex; 
    margin-bottom: 0px;
}
.Rectangle-30 {
    width: 350px;
    height: 60px;
    font-size: 28px;
    background-color: rgba(58, 55, 55, 0.3);
